<div class="content">
  <h1>Users</h1>
  <table class="my-table">
    <thead>
      <tr>
        <th>Fullname</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
      <tr>
        <td>{{name}} {{surname}}</td>
        <td>{{email}}</td>

        <td style="text-align: right;">
          <div class="d-flex justify-content-end">
            <form action="/admin/user/{{_id}}" method="GET">
              <button type="submit" class="btn btn-sm btn-secondary" style="margin-right: 2px;">
                <i class="fas fa-info-circle"></i> Details
              </button>
            </form>

            <form action="/admin/edituser/{{_id}}" method="GET">
              <button type="submit" class="btn btn-sm btn-primary" style="margin-right: 2px;">
                <i class="fas fa-edit"></i> Edit
              </button>
            </form>
            <form action="/admin/deleteuser/{{_id}}" method="POST" style="display:inline;">
              <button type="submit" class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i> Delete</button>
            </form>
          </div>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
</div>